<div class="title_container">
  <h1>Ink About It!</h1>
</div>

<div class="welcome_container">
  <h3>Welcome to <span id="marker">Ink About It</span>, a place to publish and share your comics projects. Log in or sign up to get started! Start with your cover, and upload your pages as you create them.</h3>
  <br>
  <br>
  <span align="right"><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %><span>
</div>
