<div class="title_container">
  <h1>Welcome to Ink About it!</h1>
</div>

<div class="welcome_container">
  <h4>A web comics publisher for you and me!</h4>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
