// Place all the styles related to the comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title_container {
   color: Black;
   text-shadow: 2px 3px #ffffff;
   text-align: center;
   padding-top: 30px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 50px;
   font-family: 'Permanent Marker', cursive;
   background: radial-gradient(#ddf4ff, transparent, transparent);
 }

.welcome_container {
  background: rgba(249,253,255,0.86);
  border-radius: 60px 30px 60px 5px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 45px;
  margin-top: 10px;
  margin-left: 33%;
  margin-right: 33%;
}

.cover {
  background: rgba(249,253,255,0.86);
  text-align: center;
  border-radius: 5px;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;

}

#marker {
  font-family: 'Permanent Marker', cursive;
}

.right {
  text-align: right;
}

.btn-primary, .btn-primary:visited {
    background-color: #468aaa;
    padding: 10px;
}

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #468aaa;
  border-width: 1px 0 0 0;
  border-radius: 15px;
}

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #468aaa;
  border-width: 0 0 1px 0;
  border-radius: 15px;
}
