// Place all the styles related to the comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comics {
   color: blue;
   text-align: center;
   font-family: 'Tangerine';
 }
